{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Pagina de Equipos
{% endblock titulo %}


{% block contenido %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>{{ descripcion }}</h1>
        {% for e in equipo %}
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ e.nombre }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Pais: {{ e.pais }}</h6>
              <p class="card-text">Numero de Socios: {{ e.nroSocios }}</p>
              <p class="card-text">Fecha de fundacion: {{ e.fechaFundacion }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock contenido %} 
