{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Bienvenido al blog
{% endblock titulo %}


{% block contenido %}
<div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center py-5 fw-bold">Estate siempre informado</h2>
    <img src="static/aplicacion/assets/img/gagani.gif" class="w-49">
    <p class="text-center fw-bold pt-5">
      Aqui podras revisar toda la informacion actual sobre el mundo del futbol, estate a gusto de colaborar
    </p>
  </div>
{% endblock contenido %}